body{
    margin-top: 250px;
    background-color: whitesmoke;
}

#wheelmenua{
    width: 600px;
    margin: auto;    
}
#wheelmenudiv{
    
}
/* ============ tiles in index2.php ============ */

.tile{ 
    min-height: 200px;    
}